@use "sass:color";
.myButton {
  border: 0;
	background-color:#eb675e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
}
.btn{
	padding:16px 32px;
	font:$btn-font;
	color:$btn-header-color;
	border:none;
	background-color: transparent;
}
.btn-blue{
	border-radius: 5px;
	@include btn-outline(color.scale($btn-header-color, $alpha:-58%),'2px',color.scale($btn-header-color, $alpha:-90%));
}
.btn-icon{
	padding:0;
}
a.btn{
	text-decoration: none;
}
.btn-pill{
		border-radius:17px;

}
.btn-blue-white{
	color:#ffffff;
	background-color:$bluey;
	width:100%;
	border:1px solid $mid-grey;

}
.btn-ouline{
	@include btn-outline($mid-grey,'1px')
}
#connectWithGoogleButton{
	display: flex;
	align-items: center;
	justify-content: space-around;
}