form {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

label {
  display: flex;
  margin-bottom: 0.5rem;
  color: $text-color;
  align-self:flex-start;
}

input,.btn-submit{
  max-width: 484px;
}
input[type="text"],input[type="email"], input[type="password"] {
  width: 100%;

  padding: 1rem;
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="submit"] {
  margin-top: 10px;
}



.footer form{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin:0;
  padding:0;
  box-shadow: none;
  border:none;
  background-color: #fff;
}

.footer form input[type="submit"]{
  display:none;
  margin:0;

}

.footer form input[type="email"]{
  border: 0;
  padding:1rem 0.5rem;
  margin-bottom: 0;
  color:$bluey;
  font:$text-form;
}

.error-info{
  color:$text-error;
}