// Mulish 
      //  400 regular
      //  500 medium
      //  600 semi-bold/demi-bold
      //  700 bold
      //  800 extra-bold

h1,h2,h3,h4,h5,h6{
  font-family:$titles-font-family;
}
h1{
  font:800 30px $titles-font-family;
}
h2{
  text-align:center;
  font:800 62px $titles-font-family;
}
h4{
  font: 800 44px $titles-font-family;
  // line-height: 163.2%;
}

//label mulish reg 17 000
input:placeholder-shown{
  font-family: $titles-font-family;
  font-size: 17px;
  color:$mid-grey;
}
.subtitle{
  font:400 30px $titles-font-family;
}
.btn{
  font:$btn-font;
}
.btn-submit{
  font: 400 22px $titles-font-family;
}
.text{
  font:$text-font;
}
.title-info{
  font:400 17px $titles-font-family;
}
.header .navigation{
  font: 700 16px $titles-font-family;
  line-height: 175.7%;
}
.presentation h2{
  font:400 48px "Work Sans";
  text-align: start;
}
.presentation h3{
  font: 700 18px $titles-font-family;
  line-height: 163.2%;
}