// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-info: 600 18px "Mulish", sans-serif;
$list-footer: 400 14px "Karla", sans-serif;
$titles-font-family: "Mulish", sans-serif;
$text-form: 600 16px "Mulish", sans-serif;
$btn-font:500 16px "Mulish", sans-serif;
$text-font: 400 18px "Mulish", sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



$bluey:rgb(77,160,252); //4da0fc
$blue:rgb(11, 190, 242); //0BBEF2
$dark-bluey:rgb(5, 93, 190); //055DBE



/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

//rgb(184,184,184)
/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;


/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;
$text-error:rgb(255, 61, 0);
/// Main brand color
/// @type Color
$brand-color: $blue !default;

/// Main background color
/// @type Color
$bg-color: #E5E5E5;


/// Secondary background color
/// @type Color
$bg-dark-color: #252B3B;



$header-links-color:#6D7D8B;
$btn-header-color:$bluey;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;