ul {
  list-style-type: none;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Black"), url("./assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-BlackItalic"), url("./assets/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), url("./assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-BoldItalic"), url("./assets/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Italic"), url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Light"), url("./assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-LightItalic"), url("./assets/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"), url("./assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-MediumItalic"), url("./assets/fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Thin"), url("./assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-ThinItalic"), url("./assets/fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Karla";
  src: local("Karla-Italic"), url("./assets/fonts/karla/Karla-Italic-VariableFont_wght.ttf") format("truetype") tech("variations"), url("./assets/fonts/karla/Karla-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-style: italic;
  font-weight: 100 800;
}
@font-face {
  font-family: "Karla";
  src: local("Karla"), url("./assets/fonts/karla/Karla-VariableFont_wght.ttf") format("truetype") tech("variations"), url("./assets/fonts/karla/Karla-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 800;
}
@font-face {
  font-family: "Mulish";
  src: local("Mulish-Italic"), url("./assets/fonts/mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype") tech("variations"), url("./assets/fonts/mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-style: italic;
  font-weight: 100 800;
}
@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url("./assets/fonts/mulish/Mulish-VariableFont_wght.ttf") format("truetype") tech("variations"), url("./assets/fonts/mulish/Mulish-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 800;
}
@font-face {
  font-family: "Work Sans";
  src: local("Mulish-Italic"), url("./assets/fonts/mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype") tech("variations"), url("./assets/fonts/mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-style: italic;
  font-weight: 100 800;
}
@font-face {
  font-family: "Work Sans";
  src: local("Work Sans"), url("./assets/fonts/work_sans/WorkSans-VariableFont_wght.ttf") format("truetype") tech("variations"), url("./assets/fonts/work_sans/WorkSans-VariableFont_wght.ttf") format("truetype-variations");
  font-style: normal;
  font-weight: 100 800;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Mulish", sans-serif;
}

.footer {
  background-color: #252B3B;
  color: rgb(237, 237, 237);
  display: flex;
  justify-content: space-around;
}

.footer section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer ul {
  padding-inline-start: 0px;
  font: 400 14px "Karla", sans-serif;
}

.footer .fa {
  margin-right: 1rem;
}

body {
  background-color: #E5E5E5;
}

/*# sourceMappingURL=App.css.map */
