body {
  min-height: 100vh;
  height: 100%;
}

ul {
  list-style-type: none;
}

a, a:visited {
  color: inherit;
}

.brand-point {
  color: rgb(11, 190, 242);
  font: 800 48px "Mulish", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Black"), url("./assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-BlackItalic"), url("./assets/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), url("./assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-BoldItalic"), url("./assets/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Italic"), url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Light"), url("./assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-LightItalic"), url("./assets/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"), url("./assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-MediumItalic"), url("./assets/fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Thin"), url("./assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-ThinItalic"), url("./assets/fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Karla";
  src: local("Karla-Italic"), url("./assets/fonts/karla/Karla-Italic-VariableFont_wght.ttf") format("truetype") tech("variations"), url("./assets/fonts/karla/Karla-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-style: italic;
  font-weight: 100 800;
}
@font-face {
  font-family: "Karla";
  src: local("Karla"), url("./assets/fonts/karla/Karla-VariableFont_wght.ttf") format("truetype") tech("variations"), url("./assets/fonts/karla/Karla-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 800;
}
@font-face {
  font-family: "Mulish";
  src: local("Mulish-Italic"), url("./assets/fonts/mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype") tech("variations"), url("./assets/fonts/mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-style: italic;
  font-weight: 100 800;
}
@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url("./assets/fonts/mulish/Mulish-VariableFont_wght.ttf") format("truetype") tech("variations"), url("./assets/fonts/mulish/Mulish-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 800;
}
@font-face {
  font-family: "Work Sans";
  src: local("Mulish-Italic"), url("./assets/fonts/mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype") tech("variations"), url("./assets/fonts/mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-style: italic;
  font-weight: 100 800;
}
@font-face {
  font-family: "Work Sans";
  src: local("Work Sans"), url("./assets/fonts/work_sans/WorkSans-VariableFont_wght.ttf") format("truetype") tech("variations"), url("./assets/fonts/work_sans/WorkSans-VariableFont_wght.ttf") format("truetype-variations");
  font-style: normal;
  font-weight: 100 800;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Mulish", sans-serif;
}

h1 {
  font: 800 30px;
}

h2 {
  text-align: center;
}

h3 {
  font: 800 44px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #252B3B;
  color: rgb(237, 237, 237);
  display: flex;
  justify-content: space-around;
  padding: 1rem 0.5rem;
}

.footer section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer ul {
  padding-inline-start: 0px;
  font: 400 14px "Karla", sans-serif;
}

.footer .fa-arrow-right {
  color: rgb(11, 190, 242);
  padding: 1rem;
}

.newsletter {
  width: 20%;
  padding: 1rem 0.5rem;
}

.footer__social-media li {
  padding: 0.5rem 0;
}

.footer__social-media .fa {
  padding: 0 0.5rem;
}

.navigation {
  font: 500 16px "Mulish", sans-serif "Mulish", sans-serif;
  color: #6D7D8B;
}

.navigation a:not(:last-child) {
  padding: 0 16px;
}

.myButton {
  border: 0;
  background-color: #eb675e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn {
  padding: 16px 32px;
  font: 500 16px "Mulish", sans-serif;
  color: rgb(77, 160, 252);
  border: none;
  background-color: transparent;
}

.btn-blue {
  border: solid 2px rgba(77, 160, 252, 0.42);
  border-radius: 5px;
  background-color: rgba(77, 160, 252, 0.1);
}

.btn-icon {
  padding: 0;
}

a.btn {
  text-decoration: none;
}

.btn-pill {
  border-radius: 23px;
}

.btn-blue-white {
  color: #ffffff;
  background-color: rgb(77, 160, 252);
  width: 100%;
  border: 1px solid rgb(153, 153, 153);
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 13px;
  color: gray;
}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  background-color: lightgrey;
  border: 0;
  padding: 1rem;
  margin-bottom: 1rem;
}

input[type=checkbox] {
  margin-right: 10px;
}

input[type=submit] {
  margin-top: 10px;
}

form {
  width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-top: 5px solid steelblue;
}

.footer form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
}

.footer form input[type=submit] {
  display: none;
  margin: 0;
}

.footer form input[type=email] {
  background-color: transparent;
  border: 0;
  padding: 1rem 0.5rem;
  margin-bottom: 0;
  color: rgb(77, 160, 252);
  font: 600 16px "Mulish", sans-serif;
}

body {
  background-color: #E5E5E5;
}

.login-container {
  background-color: #fff;
  width: 90%;
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container p {
  text-align: center;
}

/*# sourceMappingURL=App.css.map */
